.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-box {
    height: 400px;
    width: 300px;
    background-color: blue;
    border-radius: 5px;
}

form > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

input {
    
}