.action {
    height: 100%;
    width: 100%;
    background: lightslategray;
    grid-area: action;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
}

.action-my-turn {
    background: goldenrod;
}

.action button {
    font-size: 1.7vw;
    cursor: pointer;
}

.action button:disabled {
    cursor: not-allowed;
}

.action > span {
    padding-left: 2%;
    padding-right: 2%;
}

.action button {
    margin-left: 1%;
    margin-right: 1%;
}

button.danger {
    border: 4px solid red;
    border-radius: 3px;
}

button:disabled.danger {
    border: 4px solid rgba(255, 0, 0, 0.5);
}