* {
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 82vh 10vh;
    grid-template-areas:    "main log"
                            "action action"
}

.sidebar {
    height: 100%;
    width: 100%;
    grid-area: log;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    width: 100%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
}

.tab-content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.main hr {
    border-width: 5px;
    width: 100%;
}

.selected {
    outline: 5px solid orangered;
}

.tabs {
    background-color: steelblue;
    height: 48px;
}