.logs {
    background: lightsteelblue;
    padding: 5%;
    height: 100%;
}

.log-break {
    border: 1px solid black;
}

.scroll {
    overflow-y: auto;
    display: flex;
    max-height: 50vh;
    flex-direction: column-reverse;
    font-size: 1vw;
}

.scroll * {
    font-size: 1vw;
}

.scroll > div {
    margin-top: 5px;
}

.start-phase {
    font-size: 1.1vw;
    font-weight: bold;
}