#graph {
    height: 80vh;
    grid-area: map;
    border: 2px solid red;
}

.edge-path {
    stroke: lightgray;
    stroke-width: 18px;
}

.edge-text {
    fill: black !important;
    font-size: 20px;
}
