.graph {
    height: 100%;
}

.edge-path {
    stroke: lightgray;
    stroke-width: 18px;
}

.edge-text {
    fill: black !important;
    cursor: default !important;
    font-size: 20px;
}

.edge {
    cursor: default !important;
}

.edge-mouse-handler {
    cursor: default !important;
}
