.player-wrapper {
    flex-basis: 16.6%;
    padding: 1%;
}

.sidebar > .player-wrapper {
    padding: 0;
    border: 5px solid lightslategray;
}

.player-aspect-box {
    position: relative;
    height: 0;
    padding-bottom: 80%;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-powerplants {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: space-evenly;
    padding-right: 2%;
}

.player-powerplants span {
    font-size: 1.5vw;
}

.player-powerplants div {
    font-size: 1vw;
}

.sidebar .player-powerplants span {
    font-size: 2.5vw;
}

.sidebar .player-powerplants div {
    font-size: 1.8vw;
}

.sidebar .player-info span {
    font-size: 1.2vw;
}

.sidebar .player-symbol {
    font-size: 1.6vw
}

.player-info {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.player-info span {
    font-size: 1vw;
}

.player-info > span {
    padding-top: 3%;
    padding-left: 3%;
}

.player-resource {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-basis: calc(100% / 6);
    align-items: center;
}

.player-symbol {
    flex-basis: calc(100% / 3);
    height: 100%;
    font-size: 0.9vw;
}