.powerplant-wrapper {
    flex-basis: 20%;
    padding: 1%;
}

.powerplant-aspect-box {
    position: relative;
    height: 0;
    padding-bottom: 40%;
}

.powerplant {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.powerplant > span {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 6vh;
    color: rgb(240, 240, 240);
    padding-left: 3%;
    cursor: default;
    user-select: none;
}

.powerplant-oil {
    background-color: gray;
}

.powerplant-coal {
    background-color: #b0896d;
}

.powerplant-coil {
    background: linear-gradient(grey 35%, #b0896d)
}

.powerplant-trash {
    background-color: #a39300;
}

.powerplant-green {
    background-color: rgb(43, 131, 97);
}

.powerplant-blue {
    background-color: rgb(43, 156, 194);
}

.powerplant-uranium {
    background-color: rgb(136, 56, 56);
}

.powerplant-step-3 {
    background-color: darkblue;
}

.powerplant-production {
    align-self: flex-end;
    width: 75%;
    height: 62.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: default;
    user-select: none;
}

.powerplant-production > div, svg {
    width: calc(80% / 3);
    height: 80%
}
