.reference {
    display: flex;
    justify-content: space-around;
    font-size: 1.7vw;
}

.symbol-aspect-box {
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

.symbol {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-chart {
    flex-basis: 30%;
}

.refill-chart {
    flex-basis: 22%;
}

.other-chart {
    flex-basis: 24%;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    font-size: 1.2vw;
}

.payment-table td:nth-child(even) {
    background: lightseagreen
}

.payment-table td:nth-child(odd) {
    background: darkgreen;
    color: white;
    text-align: right;
}

.payment-table th:nth-child(even) {
    background: lightskyblue
}

.payment-table th:nth-child(odd) {
    background: darkblue;
    color: white;
}

.refill-table th:nth-child(1) {
    width: 18%;
    padding-right: 0
}

.resource-row {
    padding-right: 0;
}

.refill-table td {
    text-align: center;
}

.refill-table th {
    text-align: center;
}

.refill-table th:not(:first-child) {
    background-color: steelblue;
}

.refill-table td:nth-child(2) {
    background-color: lightgreen;
}

.refill-table td:nth-child(3) {
    background-color: lightseagreen;
}

.refill-table td:nth-child(4) {
    background-color: darkgreen;
}

.other-table th:nth-child(2) {
    width: 15%;
}

.other-table td {
    font-size: 1.7vw;
    font-weight: bold;
}

.other-table td:nth-child(1) {
    background-color: steelblue;
    text-align: right;
}

.other-table td:nth-child(2) {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.player-order {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-order > span {
    font-size: 1.2vw;
    flex-basis: 33%;
}