.resource-market {
    height: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.resource-title {
    font-size: 1.7vw;
    align-self: center;
    margin-top: -2%;
    margin-bottom: 2%;
}

.resource-market-row {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 20%;
    cursor: default;
    user-select: none;
}

.market-resource {
    width: 3.5%;
}

.uranium-spacer {
    width: 49.2%;
}   

.resource-disabled {
    background-color: lightgrey;
    color: black;
    cursor: not-allowed;
}

.resource-clickable {
    cursor: pointer;
}