.resource-market {
    height: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.resource-market-row {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 20%;
}

.market-resource {
    width: 3.5%;
}

.uranium-spacer {
    width: 49.2%;
}   

.resource-disabled {
    background-color: lightgrey;
    color: black
}