.slider-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 60%;
}

.slider-box > .resource-name {
    flex-basis: 10%;
}

.slider-box > .resource-name:nth-child(2) {
    text-align: right;
}

.slider {
    flex-basis: 15%;
}

.slider-mark {
    height: 12px !important;
    margin-top: -4px;
    background-color: black !important;
}

.slider-rail {
    background-color: rgb(116, 61, 39) !important;
    opacity: 100 !important;
    height: 4px !important
}

.slider-track {
    background-color: black !important;
    height: 4px !important
}

.slider-thumb {
    background: linear-gradient(90deg, black 50%, rgb(116, 61, 39) 50%) !important;
    margin-top: -4px !important;
}