.resource {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}

.resource-oil {
    background: black;
    clip-path: circle();
}

.resource-coal {
    background: brown;
}

.resource-coil {
    background: linear-gradient(135deg, black 50%, brown 50%);
    clip-path: ellipse(50% 65% at 50% 50%);
}

.resource-trash {
    background: rgb(255, 255, 45);
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    color: black;
}

.resource-uranium {
    background-color: red;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.house {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 95% 35%, 95% 100%, 5% 100%, 5% 35%);
    transform: scale(0.8);
}
